

<div class="relative overflow-x-auto">
    <table class="w-1/2 m-auto mt-2 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    id
                </th>
                <th scope="col" class="px-6 py-3">
                    description
                </th>
                <th scope="col" class="px-6 py-3">
                    done
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{todo.id}}
                </th>
                <td class="px-6 py-4">
                    {{todo.description}}
                </td>
                <td class="px-6 py-4">
                    {{todo.done}}
                </td>
                <td class="px-6 py-4">
                    {{todo.date |date |uppercase  }}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
